@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 163));
	color: white;
}

.weather {
	width: 500px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid white;
	border-radius: 50px;
}

.app-title {
	font-size: 40px;
	border-bottom: 5px solid white;
	border-radius: 50%;
}

.notification {
	height: 40px;
	width: 100%;
  margin: 10px;
}

.weather-container {
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	padding: 50px;
	border-radius: 25px;
}

.weather-icon {
	text-align: center;
	font-size: 100px;
}

.weather-icon img {
  height: 150px;
}

.temperature-value p {
	text-align: center;
	font-size: 80px;
  font-weight: 700;
  cursor: pointer;
}

.temperature-value span {
	font-size: 40px;
	font-weight: 600;
}

.temperature-description,
.location {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	margin: 10px;
}
